
.result{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 100px;
    color: crimson;
}
